<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/api/users/login" method="post">
      <div>
      <label>Account:</label>
      <input type="text" name="account"/><br/>
      </div>
      <div>
      <label>Password:</label>
      <input type="password" name="password"/>
      </div>
      <div>
      <input type="submit" value="Submit"/>
      </div>
    </form>
  </body>
</html>
